@import url('https://fonts.googleapis.com/css?family=Kanit|Roboto&subset=latin-ext,thai,vietnamese');
* {
    font-family: 'Kanit', 'Roboto', sans-serif;
}

.header-img {
    background-image: url('../img/header_bg.jpg');
    background-size: cover;
    background-position: center;
}

.header-img .texture {
    background-image: url('../img/texture.jpg');
    background-size: 400px;
    background-repeat: repeat;
}

.shake-down {
    animation: shake-down 1s infinite;
}

@keyframes shake-down {
    0% {
        top: 0px;
    }
    50% {
        top: 3px;
    }
    100% {
        top: 0px;
    }
}
